<div style="text-align:center">
  <h1>
    Auth Example
  </h1>
  <button (click)="signIn()">Sign in</button> 
  <button (click)="signout()">Sign out</button>
  <button (click)="callApi()">Call api</button>
  <button (click)="loadDiscoveryDocument()">Load disco</button>
   <button (click)="loggedIn()">Logged in </button>
</div>

<div *ngIf="user">
  <pre>{{user | json}}</pre>
  <pre>Token Exp {{ tokenExpiry}}</pre>
  <pre>Auth Time {{ authTime}}</pre>
  
</div>

<div *ngIf="car">
  <pre>{{car | json}}</pre>
</div>

<p><strong>{{idleState}}</strong></p>
<p *ngIf="lastPing"><small>Last keepalive ping <strong>{{lastPing }}</strong></small></p>
<button (click)="reset()" *ngIf="timedOut">Restart</button>